@model AdminEditMovieViewModel
<h1>Edit Movie</h1>

<form asp-controller="Admin" asp-action="MovieUpdate" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-8">
            <div class="container">
                <input type="hidden" name="MovieId" value="@Model.MovieId">
                <div class="mb-3">
                    <label asp-for="Title">Title</label>
                    <input asp-for="Title" class="form-control" value="@Model.Title">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Description">Description</label>
                    <textarea asp-for="Description" rows="10" cols="15" class="form-control">@Model.Description</textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                @*<div class="mb-3">
            <label asp-for="Director">Director</label>
            <input asp-for="Director" class="form-control" value="@Model.Director">
            <span asp-validation-for="Director" class="text-danger"></span>
        </div>*@
            <div class="mb-3">
                <input type="file" name="file" class="form-control" id="file">  
            </div>
                <div class="mb-3">
                    <label asp-for="Year">Year</label>
                    <input asp-for="Year" class="form-control" value="@Model.Year">
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
                @*<div class="mb-3">
            <label asp-for="GenreId">GenreId</label>
            <select asp-for="GenreId" asp-items="@ViewBag.Genres" class="form-select">
                <option value="null" disabled>Seçiniz</option>
            </select>
            <input asp-for="GenreId" class="form-control">
            <span asp-validation-for="GenreId" class="text-danger"></span>
        </div>*@
                <button class="btn btn-info" type="submit">Kaydet</button>
            </div>
        </div>
        <div class="col-md-4">
            @foreach (var genre in (List<Genre>)ViewBag.Genres)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="genreId" value="@genre.GenreId" id="genre_@(genre.GenreId)" @(Model.SelectedGenres.Any(i => i.GenreId == genre.GenreId) ? "checked" : "")
                           {
                           })>
                    <label class="form-check-label" for="genre_@(genre.GenreId)">
                        @genre.Name
                    </label>
                </div>
            }
        <div class="mt-3">
            <img src="~/img/@Model.ImageUrl" width="150" alt="@Model.Title" />
        </div>
        </div>
    </div>
</form>


@section scripts
{
    <script src="https://cdn.ckeditor.com/ckeditor5/27.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#Description'))
            .catch(error => {
                console.error(error);
            });
    </script>
}